body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007acc;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
}

footer {
    background-color: #007acc;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1, h2, h3 {
    color: #005c99;
}

.footer-title {
    font-weight: bold;
}

.footer-description {
    color: #ddd;
}

#main-title {
    font-family: 'Georgia', serif;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    -webkit-background-clip: text;
    color: transparent;
}
